
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}
header{
	position: fixed;
	background: #000;
	z-index: 1000;
	scroll-behavior: smooth;
	top: 0;
	left: 0;
	padding: 0 100px;
	width: 100%;
	z-index: 5;
	margin: auto;
	box-sizing: border-box;
/* 	box-shadow: 0 16px 28px rgb(0 0 0), 0 10px 10px rgba(0,0,0,0.22); */
}
header .logo{
	color: #ff236a;
	height: 100px;
	font-family: 'Raleway', sans-serif;
	line-height: 80px;
	font-size: 34px;
	float: left;
	display: flex;
	align-items: center;
	font-weight: bold;
}
header .logo img{
	width: 100px;
}
header nav{
	float: right;
	font-family: 'Raleway', sans-serif;
}
header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	display: flex;
}
header nav ul li a{
	list-style: none;
	height: 100px;
	font-size: 20px;
	display: inline-block;
	position: relative;
	line-height: 100px;
	padding: 0 15px;
	scroll-behavior: smooth;
	color: #fff;
	z-index: 1000;
	text-decoration: none;
	display: block;
	transition: .5s;

}
header nav ul li a:hover{
	color: #fd7d00;
}
header nav ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fd7d00;
  color: #fd7d00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header nav ul li a:hover:after { 
  width: 100%; 
  left: 0; 
  text-decoration: none;
  color: #fd7d00;
}
.menu-toggle{
	color: #fd7d00;
	float: right;
	line-height: 100px;
	font-size: 25px;
	cursor: pointer;
	display: none;
	color: #fff;
}
.onpage{
	color: #fd7d00;
}
@media (max-width: 1000px){
	header{
		padding: 0 0;
	}
}
@media (max-width: 900px)
{
	header{
		padding: 0 30px;
		background-color: #000;
	}
	.menu-toggle{
		display: block;
	}
	.menu-toggle:hover{
		color: #fd7d00;
	}
	header nav{
		position: absolute;
		width: 100%;
		height: 420px;
		/*height: calc(100vh - 50px);*/
		background-color: #000;
		left: -509%;
		top: 100px;
		transition: 0.5s;
	}
	header nav.active{ 
 	 	text-decoration: none;
  		left: 0px;
	}
	header nav ul{
		display: block;
		text-align: center;
		z-index: 200;	
	}
}
.pic {
	position: relative;
	height: 400px;
	width: 100%;
	margin: auto;
	background-image: url("pexels-ylanite-koppens-796602.jpg");
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
	top: 30px;
	z-index: 2;
	justify-content: center;
}
.pic .img-overlay{
	width: 100%;
	height: 100%;
	background-color: #000000a8; 
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fd7d00;
	font-size: 60px;
	font-weight: 100;
	letter-spacing: 2px;
	font-family: 'Changa One', cursive;
	text-transform: uppercase;
}

@media(max-width: 1000px) {
	.pic .img-overlay{
		font-size: 35px;
	}
}
@media(max-width: 800px) {
	.pic{
		height: 300px;
	}
	.pic .img-overlay{
		font-size: 45px;
	}
}
@media(max-width: 500px) {
	.pic{
		height: 250px;
	}
	.pic .img-overlay{
		font-size: 40px;
	}
}
			.c-heading-lak{
				width: 100%;
				text-align: center;
				font-size: 55px;
				font-family: 'Changa One', cursive;
				color: #fd7d00;
				letter-spacing: 2px;
				font-weight: 100;
				text-transform: uppercase;
			}
			.c-heading-2-lak{
				width: 80%;
				margin: auto;
				text-align: center;
				font-size: 25px;
				color: #000;
				font-family: 'Raleway', sans-serif;
				font-weight: bold;
				font-size: 
			}
			@media(max-width: 500px){
				.c-heading-lak{
					font-size: 40px;
				}
				.c-heading-2-lak{
					width: 95%;
					font-size: 20px;
				}
			}
			.contact-us-2-lak{
				width: 80%;
				margin: auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				position: relative;
				top: 80px;
			}
			.branch-1-lak{
				width: 40%;
				display: flex;
				padding: 30px;
				flex-wrap: wrap;
				justify-content: space-around;
				box-shadow: 0px 6px 12px #00000029, 4px 0px 16px 16px #00000012;
			}
			.branch-1-lak .div1-lak{
				width: 100%;
				text-align: center;
				font-size: 35px;
				font-family: 'Changa One', cursive;
				color: #fd7d00;
				letter-spacing: 2px;
				font-weight: 100;
				text-transform: uppercase;
			}
			.branch-1-lak .div2-lak{
				width: 100%;
				text-align: center;
				box-sizing: border-box;
				font-weight: 600;
				font-size: 20px;
				margin-top: 20px;
				margin-bottom: 20px;
				font-family: 'Raleway', sans-serif;
			}
			@media(max-width: 1100px){
				.branch-1-lak{
					width: 80%;
					margin-top: 50px;
				}
			}
			@media(max-width: 450px){
				.branch-1-lak{
					width: 85%;
				}
				.contact-us-2-lak{
					width: 95%;
				}
				.branch-1-lak .div2-lak{
					font-size: 16px;
				}
			}
			.contact-us-2{
				width: 80%;
				position: relative;
				top: 150px;
				margin: auto;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
			}
			.contact-us-2 img{
				width: 48%;
			}
			.fa {
			  padding: 20px;
			  /*font-size: 25px;
			  width: 20px;
			  height: 20px;
			  line-height: 20px;*/
			  border-radius: 50%;
			  transition: .8s;
			  text-align: center;
			  text-decoration: none;
			  margin: 5px 2px;
			}

			.fa:hover {
			    filter: brightness(50%);
			    transform: rotateY(360deg);
			}
			.fa-facebook {
			  background: #3B5998;
			  color: white;
			}
			.fa-twitter {
			  background: #55ACEE;
			  color: white;
			}
			.fa-google {
			  background: #dd4b39;
			  color: white;
			}
			.fa-instagram {
			  background: #ad00a8;
			  color: white;
			}
			.c-text{
				width: 45%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.c-text ul li{
				font-size: 16px;
				font-family: 'Raleway', sans-serif;
				font-weight: bold;
				text-align: center;
				list-style-type: none;

			}
			.c-text p{
				font-size: 18px;
				color: #fd7d00;
				font-family: 'Raleway', sans-serif;
				font-weight: bold;
				list-style-type: none;
				text-align: center;
			}
			.c-text .social-icons{
				width: 100%;
				margin: auto;
				display: flex;
				padding: 20px;
				justify-content: space-around;
			}
			@media(max-width: 1100px){
				.contact-us-2{
					width: 95%;
				}
			}
			@media(max-width: 750px){
				.contact-us-2 img{
					width: 80%;

				}
				.c-text{
					width: 80%;
				}
			}
			footer{
	/*height: 300px;*/
	position: relative;
	padding: 50px;
	top: 180px;
	background-color: #000;
}
			.footer-sec{
	/*width: 90%;*/
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.foot-logo img{
	width: 400px;/*
	height: 300px;*//*
	padding-top: 60px;
	font-size: 50px;
*/	color: #fd7d00;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	justify-content: center;
}
.foot-cont-1{
	width: 20%;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.foot-cont-2{
	width: 30%;
	padding: 20px;
	text-align: center;
	display: flex;
	color: #fd7d00;
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Raleway', sans-serif;
}
.foot-cont-1 a{
	text-decoration: none;
	color: #fd7e02;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Raleway', sans-serif;
}
.foot-cont-1 a:hover{
	color: #eac8a6;
}
.foot-cont-3{
	width: 20%;
	padding: 20px;
	color: #fd7d00;
	text-align: center;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Raleway', sans-serif;
	justify-content: center;
}
@media(max-width: 960px){
	footer{
		padding: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media(max-width: 800px){
	.footer-sec{
		flex-wrap: wrap;
	}
	.foot-logo{
		display: flex;
		justify-content: center;
	}
	.foot-logo img{
		width: 80%;
		margin: auto;
	}
	.foot-cont-1{
		width: 70%;
	}
	.foot-cont-2{width: 90%;}
	.foot-cont-3{width: 80%;}
}
.Copyrights{
/* 	width: 100%; */
	text-align: center;
	color: #fff;
}
.Copyrights a{
	text-decoration: none;
	color: #fd7d00;
	font-size: 18px;
}
.Copyrights a:hover{
	text-decoration: underline;
}
