
html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	padding: 0;
}
header{
	position: fixed;
	background: #000;
	z-index: 1000;
	scroll-behavior: smooth;
	top: 0;
	left: 0;
	padding: 0 100px;
	width: 100%;
	margin: auto;
	box-sizing: border-box;
/* 	box-shadow: 0 16px 28px rgb(0 0 0), 0 10px 10px rgba(0,0,0,0.22); */
}
header .logo{
	color: #ff236a;
	height: 100px;
	font-family: 'Raleway', sans-serif;
	line-height: 80px;
	font-size: 34px;
	float: left;
	display: flex;
	align-items: center;
	font-weight: bold;
}
header .logo img{
	width: 80px;
	height: 68px;
}
header nav{
	float: right;
	font-family: 'Raleway', sans-serif;
}
header nav ul{
	margin: 0;
	padding: 0;
	display: flex;
	display: flex;
}
header nav ul li a{
	list-style: none;
	height: 100px;
	font-size: 20px;
	display: inline-block;
	position: relative;
	line-height: 100px;
	padding: 0 15px;
	scroll-behavior: smooth;
	color: #fff;
	z-index: 1000;
	text-decoration: none;
	display: block;
	transition: .5s;

}
header nav ul li a:hover{
	color: #fd7d00;
}
header nav ul li a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fd7d00;
  color: #fd7d00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
header nav ul li a:hover:after { 
  width: 100%; 
  left: 0; 
  text-decoration: none;
  color: #fd7d00;
}
.menu-toggle{
	color: #fd7d00;
	float: right;
	line-height: 100px;
	font-size: 25px;
	cursor: pointer;
	display: none;
	color: #fff;
}
.onpage{
	color: #fd7d00;
}
@media (max-width: 1000px){
	header{
		padding: 0 0;
	}
}
@media (max-width: 900px)
{
	header{
		padding: 0 30px;
		background-color: #000;
	}
	.menu-toggle{
		display: block;
	}
	.menu-toggle:hover{
		color: #fd7d00;
	}
	header nav{
		position: absolute;
		width: 100%;
		height: 420px;
		/*height: calc(100vh - 50px);*/
		background-color: #000;
		left: -509%;
		top: 100px;
		transition: 0.5s;
	}
	header nav.active{ 
 	 	text-decoration: none;
  		left: 0px;
	}
	header nav ul{
		display: block;
		text-align: center;
		z-index: 200;	
	}
}
/*.head{
	width: 100%;
	background-color: #000;
	height: 100px;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	box-shadow: 0 16px 28px rgb(0 0 0), 0 10px 10px rgba(0,0,0,0.22);
}
.navigation-bar{
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.logo{
	width: 300px;
	height: 100px;
	display: flex;
	align-items: center;
	color: #fd7d00;
	font-size: 32px;
	font-family: 'Raleway', sans-serif;
	line-height: 100px;
}
.logo img{
	width: 80px;
}
.nav{
	width: auto;
	justify-content: flex-end;
}
.nav a{
	text-decoration: none;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	padding: 0px 15px 0px 15px;
	line-height: 100px;
	transition: .5s;
}
.nav a:hover{
	color: #fd7d00;
}*/
.section-2{
	top: 100px;
	z-index: 6;
	height: 800px;
	position: relative;
}
.section2{
	position: relative;
	height: 800px;
	background-image: url('body-tech-fitness-club-sidco-industrial-estate-coimbatore-gyms-ksstbh0fwc.jpg');
/* 	filter: brightness(20%); */
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
}
.sec2-main{
	position: absolute;
	height: 800px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #0000008f;
	color: #fff;
	z-index: 7;
}
.sec2-main2 h1{
	font-size: 80px;
	padding-bottom: 20px;
	text-align: center;
	margin-bottom: 0;
	color: #fd7d00;
	margin-top: 0; 
	font-family: 'Changa One', cursive;
	letter-spacing: 2px;
	font-weight: 100;
}

.first{
	color: #fd7d00;
	font-size: 130%;
}
hr{
	width: 30%;
	border: 1px solid #fd7d00;
	border-radius: 50%;
	margin-bottom: 30px;
}
.sec2-main2 p{
	width: 80%;
	margin: auto;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
}
@media (max-width: 600px){
	.section-2{
		height: 550px;
	}
	.section2{
		height: 550px;
	}
	.sec2-main{
		height: 550px;
	}
	.sec2-main2 h1{
		font-size: 40px;
	}
	.sec2-main2 p{
		font-size: 16px;
	}
}
.section-3{
	width: 100%;
	position: relative;
	top: 100px;
	box-shadow: 0 16px 28px rgb(0 0 0), 0 10px 10px rgba(0,0,0,0.22);
}
.section3{
	width: 95%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.section3-head{
	width: 100%;
	margin: 30px 0 10px;
	text-align: center;
	font-size: 35px;
	text-transform: uppercase;
	color: #fd7d00;
	font-family: 'Changa One', cursive;
	font-weight: 100;
	letter-spacing: 1px;
}
.first2{
	font-size: 130%;
}
.sec3-body{
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.sec3-box{
	width: 250px;
	padding: 15px;
	position: relative;
	height: 280px;
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 50px;
	box-shadow: 0 16px 28px #00000038, 0 10px 10px #ff150708;
}
.sec3-icon{
	width: 90px;
	position: absolute;
	height: 85px;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 16px 28px #00000038, 0 10px 10px #ff150708;
	border-radius: 50%;padding: 10px;
	top: -60px;
	left: 90px;
	background-color: #fff;
}
.sec3-icon img{
	width: 55px;
	height: 55px;
}
.sec3-box h2{
	position: relative;
	top: 100px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	letter-spacing: .5px;
	font-family: 'Raleway', sans-serif;
}
.sec3-box p{
	position: relative;
	top: 100px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	font-weight: 600;
	line-height: 22px;
	letter-spacing: 1px;
	color: #fd7d00;
}
.section-4{
	top: 100px;
	height: 650px;
	position: relative;
}
.sec4-main{
	position: absolute;
	height: 650px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: #0000008f;
	color: #fff;
	z-index: 5;
}
.sec4-main2 h1{
	font-size: 80px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0; 
	font-weight: 100;
	padding-bottom: 20px;
	color: #fd7d00;
	text-transform: uppercase;
	font-family: 'Changa One', cursive;
}

.first{
	font-size: 130%;
}
hr{
	width: 50%;
	border: 1px solid #fd7d00;
	border-radius: 80%;
	margin-bottom: 30px;
}
.sec4-main2 p{
	width: 80%;
	margin: auto;
	text-align: center;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
	font-family: 'Raleway', sans-serif;
}
.section4{
	position: relative;
	height: 650px;
	background-image: url('body-tech-fitness-club-sidco-industrial-estate-coimbatore-fitness-centres-vg2moq1qb4.webp');
/* 	filter: brightness(25%); */
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat; 
	background-size: cover;
}
@media(max-width: 650px){
	.sec4-main2 h1{
		font-size: 35px;
	}
	.sec4-main2 p{
		font-size: 18px;
	}
}
.section-5{
	width: 100%;
	position: relative;
	top: 100px;
}
.section5{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}/*
.sec5-box{
	width: 300px;
	margin: 20px;
	transition: .3s;
	margin-bottom: 50px;
	height: 300px;
	box-shadow: 0 16px 28px #fd7d0038, 0 10px 10px #ff150708;
}
.sec5-box:hover{
	box-shadow: 0 26px 38px #fd7d006b, 0 10px 10px #fd7d0059;
}*/
.thumb {
			width: 350px;
			min-width: 300px;
            height: 400px;
            margin: 100px 15px 0px;
            text-align: center;
            cursor: pointer;
            position: relative;
           /* padding: 10px;*/
			border-radius: 25px;
			overflow: hidden;
			display: flex;/*
			transition: (-50%,-50%);*/
			justify-content: space-around;
			flex-wrap: wrap;
			overflow: hidden;
			width: 450px;
			box-shadow: 1px 5px 28px rgb(0 0 0 / 42%), 0px 6px 5px rgb(0 0 0 / 18%);
    
		}
		
		.thumb img {
			width: 100%;
			height: 100%;
			border-radius: 25px;
/* 			object-position: top;
			object-fit: cover; */
			position: absolute;
/* 			transition: .3s; */
		}
		
		.details{
			text-align: left;
			z-index: 999;
			background-color: #fff4f4c9;
			padding: 10px;
			box-sizing: border-box;
			position: absolute;
			box-shadow: 0 0 0 rgba(0,0,0,0);
			bottom: -100px;
			color: #000;
			width: 100%;
			transition: .5s;
		}
		.thumb:hover .details{
            bottom: 0px;
            background: #0000008a;
            color: #fff;
		}
/* 		.thumb:hover img{
			filter: brightness(30%);
		} */
		.details h1 {
			margin: 0;
			padding: 15px;
			text-align: center;
           font-family: 'Raleway', sans-serif;
		}
		.details p{
			text-align: center;
			font-family: 'Raleway', sans-serif;
		}
/*		@media(max-width: 450px){
			.details{
				bottom: -115px;
			}
		} */
footer{
	/*height: 300px;*/
	position: relative;
	padding: 50px;
	top: 100px;
	background-color: #000;
}
			.footer-sec{
	/*width: 90%;*/
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.foot-logo img{
	width: 400px;/*
	height: 300px;*//*
	padding-top: 60px;
	font-size: 50px;
*/	color: #fd7d00;
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	justify-content: center;
}
.foot-cont-1{
	width: 20%;
	padding: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	list-style-type: none;
	font-family: 'Raleway', sans-serif;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.foot-cont-2{
	width: 30%;
	padding: 20px;
	text-align: center;
	display: flex;
	color: #fd7d00;
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Raleway', sans-serif;
}
.foot-cont-1 a{
	text-decoration: none;
	color: #fd7e02;
	font-size: 16px;
	line-height: 22px;
	font-family: 'Raleway', sans-serif;
}
.foot-cont-1 a:hover{
	color: #eac8a6;
}
.foot-cont-3{
	width: 20%;
	padding: 20px;
	color: #fd7d00;
	text-align: center;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-family: 'Raleway', sans-serif;
	justify-content: center;
}
@media(max-width: 960px){
	footer{
		padding: 0px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media(max-width: 800px){
	.footer-sec{
		flex-wrap: wrap;
	}
	.foot-logo{
		display: flex;
		justify-content: center;
	}
	.foot-logo img{
		width: 80%;
		margin: auto;
	}
	.foot-cont-1{
		width: 70%;
	}
	.foot-cont-2{width: 90%;}
	.foot-cont-3{width: 80%;}
}
.Copyrights{
/* 	width: 100%; */
	text-align: center;
	color: #fff;
}
.Copyrights a{
	text-decoration: none;
	color: #fd7d00;
	font-size: 18px;
}
.Copyrights a:hover{
	text-decoration: underline;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1099;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #fd7d00;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  opacity: .8;
  transition: .5s;
}

#myBtn:hover {
  background-color: #a50e0e;
}
